body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
  max-width: auto;
  margin: 0 auto;
  margin-top: 60px;
  padding: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.but {
  display: flex;
  justify-content: center;
}


.container1 {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 60px;
  padding: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form-group{
  margin-bottom:30px ;
}